<div class="form-container">
    <p class="title">Sign Up</p>
    <form [formGroup]="signupForm">
        <div class="input-group">
            <label for="username">Username</label>
            <input formControlName="username" type="text" id="username" placeholder="Enter Username">
        </div>
        <div class="input-group">
          <label for="email">Email</label>
          <input formControlName="email" type="text" id="email" placeholder="Enter Email">
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input formControlName="password" type="password" id="password" placeholder="Enter password">
        </div>
        <div class="input-group">
          <label for="profile-pic">Upload Profile Picture</label>
          <input type="file" id="profile-pic" (change)="onFileChange($event)" accept="image/*" class="form-control">
        </div>
  
        <!-- Video field inside form -->
        <div class="input-group biometric-container" id="video">
          <video #video id="video" width="420" height="360" class="border rounded" autoplay muted></video>
          <br>
          <button mat-raised-button color="primary" class="rounded-button capture-button" (click)="captureImage()">Capture Image</button>
        </div>
  
        <br>
        <br><br>
        <!-- <button class="sign" [disabled]="!signupForm.valid || !isImageCaptured" (click)="onSubmit()">Submit</button> -->
        <div id="button-container">
          <button class="animated-button sign" type="submit" (click)="onSubmit()">
            <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
              ></path>
            </svg>
            <span class="text">Sign in</span>
            <span class="circle"></span>
            <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
              ></path>
            </svg>
          </button>
        </div>
        
      </form>
    <br>
    <p class="signup">Don't have an account?
      <a rel="noopener noreferrer" href="javascript:void(0)" (click)="redirectToLogin()">Log in</a>
    </p>
    
  </div>
  