
<div class="form-container">
  <p class="title">Sign Up</p>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
          <label for="username">Username</label>
          <input formControlName="username" type="text" id="username" placeholder="">
      </div>
      <div class="input-group">
          <label for="password">Password</label>
          <input formControlName="password" type="password" id="password" placeholder="">
      </div>
      <br>
      <button class="sign" type="submit">Sign in</button>
  </form>
  <br>
  <p class="signup">Don't have an account?
      <a rel="noopener noreferrer" href="#" class="">Sign up</a>
  </p>
</div>
