<!-- Header -->
<div id="background-container">
<div class="header" style="height: fit-content;">
  <div class="greeting" style="letter-spacing: 4px;">
    <!-- Display the greeting message -->
      <button class="button" data-text="Awesome">
        <span class="actual-text">&nbsp;{{ currentUser.username }}&nbsp;</span>
        <span aria-hidden="true" class="hover-text">&nbsp;{{ currentUser.username }}&nbsp;</span>
      </button>
  </div>
  <div class="profile-container">
    <button class="profile-btn">Profile</button>
    <!-- <button class="logout-btn" (click)="onLogout()">Logout</button> -->
    <button class="Btn" (click)="onLogout()">
      <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>
      <div class="text">Logout</div>
    </button>
  </div>
</div>

<!-- Stories -->
<div class="stories">
  <div class="story" *ngFor="let story of stories" (click)="openStory(story)">
    <img [src]="story.profilePicture" alt="Profile picture" class="story-image">
    <!-- Optionally display story text or additional information -->
    <p>{{ story.storyText }}</p>
  </div>
</div>

<!-- Feed -->
<div class="feed">
  <div class="post-card" *ngFor="let post of posts">
    <img [src]="post.image" alt="Post image" class="post-image">
    <div class="content">
      <p>{{ post.caption }}</p>
    </div>
    <div class="actions">
      <button class="btn btn-light" (click)="toggleCommentBox(post)">
        <i class="material-icons">comment</i> Comment
      </button>
    </div>
    <div class="comment-box" *ngIf="post.showCommentBox">
      <textarea #commentText placeholder="Write a comment..." rows="3"></textarea>
      <button class="btn btn-primary" (click)="addComment(post, commentText.value)">Submit</button>
    </div>
    <div class="comments" *ngIf="post.comments && post.comments.length">
      <div *ngFor="let comment of post.comments" class="comment-item">
        <strong>{{ comment.username }}:</strong> {{ comment.text }}
      </div>
    </div>
  </div>
</div>

<video id="cameraFeed" #cameraFeed  autoplay style="display: none;"></video>

<!-- Canvas element to capture the image (hidden) -->
<canvas id="canvas"  #canvas style="display: none;"></canvas>

</div>